# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=n8n_db_nome
POSTGRES_USER=usuario_master
POSTGRES_PASSWORD=senha_forte_aqui

# Credenciais de Acesso ao Painel do n8n
N8N_USER=admin_n8n
N8N_PASSWORD=senha_admin_n8n

# URL Dinâmica (Cloudflare ou Domínio Próprio)
WEBHOOK_URL=https://seu-subdominio-dinamico.trycloudflare.com

# Conexão com a Evolution API (WhatsApp)
EVOLUTION_SERVER_URL=http://localhost:8080
EVOLUTION_API_KEY=sua_api_key_global_aqui